{% extends 'catalog/base.html' %}
{% load mediapath from template_filters %}
{% block content %}
    <div class="row">
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <table class="table">
                        <tr>
                            <td>Наименование</td>
                            <td>{{ object.product_name }}</td>
                        </tr>
                        <tr>
                            <td>Описание</td>
                            <td>{{ object.description }}</td>
                        </tr>
                        <tr>
                            <td>Изображение (превью)</td>
                            <td>{% mediapath object.image %}</td>
                        </tr>
                        <tr>
                            <td>Категория</td>
                            <td>{{ object.category }}</td>
                        </tr>
                        <tr>
                            <td>Цена за покупку</td>
                            <td>{{ object.price }}</td>
                        </tr>
                        <tr>
                            <td>Дата создания</td>
                            <td>{{ object.creation_date }}</td>
                        </tr>
                        <tr>
                            <td>Дата последнего изменения</td>
                            <td>{{ object.date_of_update }}</td>
                        </tr>
                        <tr>
                            <td>Версия</td>
                            <td>{{ object.Version.product_id }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}